.mainGrid {
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp2284543.jpg');
}
.title {
  color: #fff;
}
.desc {
  color: #fff;
}
.dataGrid {
  height: 100vh;
  background-color: #17a2b8 ;
}
.companyData {
  display: flex;
}
.heading {
  text-align: center;
  color: #fff ;
}
.tableCell {
  color: #fff !important;
  font-weight: bold;
  font-size: 20px !important;
}