.appBar {
  box-shadow: none;
  padding-top: 10px;
  margin-top: -75px;
  position: relative;
  top: 75px;
  transition: "0.2s ease-in-out";
  height: 20vh;
}
.img {
  background-image: url("http://assets.stickpng.com/images/5842a770a6515b1e0ad75afe.png");
  margin-right: 4rem;
  height: 70px;
  z-index: 100;
}
.navItems {
  align-self: center;
  font-size: 16px;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
.toolbar {
  width: 100%;
}